<div class="wrapper">
  <form action="/" method="post">
    <textarea name="code" style="font-size: 14px; width: 600px; height: 400px;">
vērtība = 10

ja vērtība > 100 tad
  izdrukāt_virkni "viss kārtībā"
bet_ja vērtība > 0 tad
  izdrukāt_virkni "gandrīz kārtībā"
citādi
  izdrukāt_virkni "nav labi"
beigas
    </textarea>
    <br>
    <input type="submit" value='Palaist'>
  </form>
</div>
