<div class="wrapper">
  <div class="clear">
    <div class="dzintars_block">
      <textarea name="code" id="code">vērtība = 10

ja vērtība > 100 tad
  izdrukāt_virkni "viss kārtībā"
bet_ja vērtība > 0 tad
  izdrukāt_virkni "gandrīz kārtībā"
citādi
  izdrukāt_virkni "nav labi"
beigas</textarea>
    </div>
    <div class="dzintars_rezult"></div>
  </div>
  <div class="controls">
    <a href="#" id="run">Palaist</a>
  </div>
</div>