<div class="wrapper">
  <form action="/" method="post">
    <textarea rows="10" cols="50" name="code">
ja 1 > 0
  izdruk훮t_virkni "Sveika pasaule!"
cit훮di
  izdruk훮t_virkni "Kaut kas ir saboj훮jies"
beigas
    </textarea>
    <br>
    <input type="submit">
  </form>
</div>
