<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dzintars</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/codemirror.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/js/codemirror.js"></script>
  <script src="/js/codemirror/dzintars.js"></script>
  <script src="/js/codemirror/active-line.js"></script>
</head>
  <body>
    <%= yield %>
    <script src="/js/application.js"></script>
  </body>
</html>